<div class="row main_body">
  <div class="container">
    <div class="row banner">
      <div class="col-12 col-lg-7">
        <p class="large_name">Dion Chan</p>
        <p class="small_name">Full-Stack Web Developer</p>
      </div>
      <div class="col-12 col-lg-5">
        <p class="logo text-center">< /></p>
        <ul class="tags">
          <li class="tag">HTML</li>
          <li class="tag">CSS</li>
          <li class="tag">JS/JQuery</li>
        </ul>
        <ul class="tags">
          <li class="tag">Ruby/Rails</li>
          <li class="tag">SQL</li>
          <li class="tag">Python</li>
          <li class="tag">Git/Docker</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="short_desc">
          <h3>Who am I?</h3>
          <p>In early 2017, I took the plunge into becoming a full-time web developer, </br>
          after having worked in the design&advertisement industry for a few years, and saw the potential for the tech development.</p>
          <p>After working briefly for Clarity Labs (agency), I am now currently working as a Backend Developer at a renown startup - Easyship.
          Mainly tasked with the integration of e-commerce platforms (API), I have been working closely with Shopify, BigCommerce, Magento and more first-class companies.
          These experiences have taught me skills that go beyond technical expertise, as well as cultivated my management and communication skills
          that are crucial for working in teams and swift feature development. </br></br>

          Below are a small showcase of the projects I have done in my free time, I hope you will find them interesting - and see them as a proof to my enthusiasm as well!</p>
          <div class="text-center about_me_btn"><%= link_to "Read more about me", about_path, class: "btn", id: "about_me_btn" %></div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="span12">
        <div class="projects">
          <h1 class="text-center" id="projects">My projects</h1>

          <h2>Original Web & Android Game</h2>
          <div class="row section">
            <div class="col-md-12">
              <div class="thumbnail">
                <img src="images/reword_android.png" alt="Reword Android" style="width:30%">
                <a href="http://rewordgame.herokuapp.com/">
                 <img src="images/reword.png" alt="Reword" style="width:100%">
                 <div class="caption">
                   <h3>REWORD</h3>
                   <p>Educational word game suitable for all ages!</p>
                 </div>
                </a>
              </div>
            </div>

            <div class="github_div"><%= link_to "See more at my Github", "https://github.com/hwchan91?tab=repositories", class: "btn btn-info github" %></div>
         </div>

         <div class="clear"></div>

          <h2>JS apps</h2>
          <div class="row section">
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="https://waldo-hwchan91.herokuapp.com/">
                 <img src="images/waldo_small.png" alt="Where's Waldo" style="width:100%">
                 <div class="caption">
                   <h3>Where's Waldo</h3>
                   <p>Interative 'Where's Waldo' implemented with Rails and JS</p>
                 </div>
                </a>
              </div>
            </div>

             <div class="col-md-4">
               <div class="thumbnail">
                <a href="https://hwchan91.github.io/minesweeper/">
                  <img src="images/minesweeper.png" alt="Minesweeper" style="width:100%">
                  <div class="caption">
                    <h3>Minesweeper</h3>
                    <p>The classic game of Minesweeper made through JS</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
               <a href="https://hwchan91.github.io/snake/">
                 <img src="images/snake.png" alt="Snake" style="width:100%">
                 <div class="caption">
                   <h3>Snake</h3>
                   <p>The classic game of Snake with a minimalist design</p>
                 </div>
               </a>
             </div>
           </div>

          <div class="clearfix hidden-xs"></div>

           <div class="col-md-4">
             <div class="thumbnail">
              <a href="https://hwchan91.github.io/carousel_slider/">
                <img src="images/slider.png" alt="Carousel Slider" style="width:100%">
                <div class="caption">
                  <h3>Carousel Slider</h3>
                  <p>A photo display that automatically slides to the next photo for viewing</p>
                </div>
              </a>
             </div>
           </div>

            <div class="github_div"><%= link_to "See more at my Github", "https://github.com/hwchan91?tab=repositories", class: "btn btn-info github" %></div>
         </div>

         <div class="clear"></div>

          <h2>Rails apps</h2>
          <div class="row section">
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="https://fakebook-hwchan91.herokuapp.com/">
                 <img src="images/fakebook.png" alt="Fakebook" style="width:100%">
                 <div class="caption">
                   <h3>Fakebook [curr broken]</h3>
                   <p>A Facebook-like social networking app with 'Friend', 'Like', 'Comment' capabilities and more!</p>
                 </div>
                </a>
              </div>
            </div>

             <div class="col-md-4">
               <div class="thumbnail">
                <a href="https://flightbooker-hwchan91.herokuapp.com/">
                  <img src="images/flightbooker.png" alt="Flight Booker" style="width:100%">
                  <div class="caption">
                    <h3>Flight Booker [curr broken]</h3>
                    <p>Search and book flights now, with email to confirm journey</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
               <a href="https://mastermind-hwchan91.herokuapp.com/">
                 <img src="images/mastermind.png" alt="Mastermind" style="width:100%">
                 <div class="caption">
                   <h3>Mastermind</h3>
                   <p>The classic 'Number-guessing game' with a Hacker theme</p>
                 </div>
               </a>
             </div>
           </div>

          <div class="clearfix hidden-xs"></div>

           <div class="col-md-4">
             <div class="thumbnail">
              <a href="https://eventmanager-hwchan91.herokuapp.com/">
                <img src="images/private_events.png" alt="Event Manager" style="width:100%">
                <div class="caption">
                  <h3>Event Manager</h3>
                  <p>A barebones event managing app similar to EventBrite</p>
                </div>
              </a>
             </div>
           </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <a href="https://flickrapi-hwchan91.herokuapp.com/">
                  <img src="images/flickr.png" alt="Flickr API" style="width:100%">
                  <div class="caption">
                    <h3>Flickr API</h3>
                    <p>A Simple API for accesing Flickr photos</p>
                    <br>
                  </div>
                </a>
              </div>
            </div>

            <div class="github_div"><%= link_to "See more at my Github", "https://github.com/hwchan91?tab=repositories", class: "btn btn-info github" %></div>
         </div>

         <div class="clear"></div>


         <h2>AI Demos</h2>
         <div class="row section">
           <div class="col-md-4">
             <div class="thumbnail">
               <a href="https://repl.it/@hwchan91/calculussolver">
                <img src="images/calculus.png" alt="Calculus solver" style="width:100%">
                <div class="caption">
                  <h3>Calculus Solver</h3>
                  <p>Solve trigonometry, differentiation and (some) integration problems</p>
                </div>
               </a>
             </div>
           </div>

           <div class="col-md-4">
             <div class="thumbnail">
               <a href="https://repl.it/@hwchan91/wordedmathquestionsolver">
                <img src="images/student.png" alt="Student" style="width:100%">
                <div class="caption">
                  <h3>Worded Math Equation Solver</h3>
                  <p>Solves middle school level math questions</p>
                  <br>
                </div>
               </a>
             </div>
           </div>

           <div class="col-md-4">
             <div class="thumbnail">
               <a href="https://repl.it/@hwchan91/eightqueens">
                <img src="images/8queens.png" alt="Eight Queens" style="width:100%">
                <div class="caption">
                  <h3>Eight Queens Puzzle</h3>
                  <p>Arrange 8 queens so that none threaten each other</p>
                </div>
               </a>
             </div>
           </div>

          <div class="clearfix hidden-xs"></div>

           <div class="col-md-4">
             <div class="thumbnail">
               <a href="https://repl.it/@hwchan91/elizabot">
                <img src="images/eliza.png" alt="Eliza bot" style="width:100%">
                <div class="caption">
                  <h3>Eliza bot</h3>
                  <p>A replication of the 1960s MIT ELIZA bot</p>
                </div>
               </a>
             </div>
           </div>

           <div class="github_div"><%= link_to "See more at my Github", "https://github.com/hwchan91?tab=repositories", class: "btn btn-info github" %></div>
         </div>

         <div class="clear"></div>


         <h2>Ruby Apps </h2>
         <div class="row section">
           <div class="col-md-4">
             <div class="thumbnail">
               <a href="https://repl.it/HpML/5">
                <img src="images/chess.png" alt="Chess" style="width:100%">
                <div class="caption">
                  <h3>Chess</h3>
                  <p>Chess played with standard notation (with valid moves checking and checkmate indication)</p>
                </div>
               </a>
             </div>
           </div>

           <div class="col-md-4">
             <div class="thumbnail">
               <a href="https://repl.it/HAHH/0">
                <img src="images/tictactoe.png" alt="Tic Tac Toe with AI" style="width:100%">
                <div class="caption">
                  <h3>Unbeatable Tic Tac Toe</h3>
                  <p>Tic Tac Toe with an unbeatble AI</p>
                  <br>
                </div>
               </a>
             </div>
           </div>

           <div class="col-md-4">
             <div class="thumbnail">
               <a href="https://repl.it/HF9z/4">
                <img src="images/hangman.png" alt="Hangman with AI" style="width:100%">
                <div class="caption">
                  <h3>Hangman (with AI)</h3>
                  <p>Player can choose to guess a word, or to make the AI guess a word</p>
                </div>
               </a>
             </div>
           </div>

          <div class="clearfix hidden-xs"></div>

           <div class="col-md-4">
             <div class="thumbnail">
               <a href="https://repl.it/HUxe/2">
                <img src="images/connectfour.png" alt="Connect Four" style="width:100%">
                <div class="caption">
                  <h3>Connect Four</h3>
                  <p>A standard game of Connect Four played between 2 persons</p>
                </div>
               </a>
             </div>
           </div>

           <div class="github_div"><%= link_to "See more at my Github", "https://github.com/hwchan91?tab=repositories", class: "btn btn-info github" %></div>
         </div>

         <div class="clear">

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('html, body').hide();

        if (window.location.hash) {
            setTimeout(function() {
                $('html, body').scrollTop(0).show();
                $('html, body').animate({
                    scrollTop: $(window.location.hash).offset().top
                    }, 1000)
            }, 0);
        }
        else {
            $('html, body').show();
        }
    });
</script>
